.ForgotPassword {
    margin: 0 auto;
    height: 318px;
    width: 557px;
    background-color: #fff;
    padding: 10px 22px;
    box-shadow: 0 14px 28px #557DA526, 0 10px 10px #557da51e;
    border-radius: 10px;
    margin-top: 150px;
}

.ForgotPassword h1 {
    color: #303f60;
    font-weight: 500;
}


.ButtonContainer {
    margin-top: 30px;
    text-align: center;
}

.ErrorMessage {
    margin-top: 0;
    color: #ff0000;
    float: right
}

@media (max-width:600px) {
    .ForgotPassword {
        /* height: 811px; */
        width: 80%;
    }
    .Header{
        text-align: center;
    }
    .ButtonContainer {
        margin-top: 20px;
        text-align: center;
    }
}