.ResetPassword {
    margin: 0 auto;
    height: 408px;
    width: 557px;
    background-color: #fff;
    padding: 10px 22px;
    box-shadow: 0 14px 28px #557DA526, 0 10px 10px #557da51e;
    border-radius: 10px;
    margin-top: 150px;
}

.ResetPassword h1 {
    color: #303f60;
    font-weight: 500;
}

.ButtonContainer {
    margin-top: 30px;
    text-align: center;
}

.ErrorMessage {
    margin-top: 0;
    color: #ff0000;
    float: right
}